<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fileupload</title>

  <script src="js/dropzone.js" charset="utf-8"></script>
</head>
<body>
  <form action="/" method="post" enctype="multipart/form-data">
    <input type="file" name='file' placeholder="Select file"/>
    <br/>
    <button>Upload</button>
</form>
</body>
</html>
